In [5]:
import pandas as pd

# Set filepath to admissions data
filePath = 'C:\\Users\\cvpga\\dissert\\data\\newAdmissions_nation_2020.csv'

# Modify data to only England
df = pd.read_csv(filePath)
df = df[df['area_name'] == 'England']

# Store only fields that are needed
df = df[['date','value']]

# You can export this dataframe.

           date   value
1    2020-06-01   522.0
6    2020-06-02   553.0
11   2020-06-03   491.0
12   2020-06-04   458.0
18   2020-06-05   380.0
..          ...     ...
839  2020-12-27  2572.0
841  2020-12-28  2795.0
847  2020-12-29  2886.0
851  2020-12-30  2861.0
852  2020-12-31  2536.0

[214 rows x 2 columns]